WEEK_14_FINAL_OPTIMIZATION/EXAMPLES/financial_optimization_tracking.json
{
  "name": "Financial Optimization and Performance Tracking",
  "description": "Automated workflow for Final Optimization phase learning objectives with intelligent processing and error handling.",
  "tags": [
    "final",
    "optimization",
    "performance",
    "efficiency"
  ],
  "version": "1.0.0",
  "author": "Automator Pro Course",
  "course_metadata": {
    "week": "Week 14",
    "phase": "Final Optimization",
    "difficulty": "Advanced",
    "learning_objectives": [
      "Final optimization",
      "Exit strategies",
      "Legacy building"
    ],
    "prerequisites": [
      "Complete course foundation",
      "Business experience",
      "Strategic thinking"
    ],
    "estimated_setup_time": "10-20 minutes",
    "use_cases": [
      "Practice Final Optimization concepts",
      "Build real-world automation skills",
      "Prepare for business applications",
      "Demonstrate course learning objectives"
    ],
    "examples": [
      "Use this workflow to practice Final Optimization skills",
      "Customize for your specific learning needs",
      "Apply concepts to real business scenarios",
      "Build upon for advanced implementations"
    ],
    "next_steps": [
      "Complete Week 15 objectives",
      "Practice with additional examples",
      "Apply skills to real projects"
    ],
    "related_workflows": [
      "Week 15 workflows",
      "Previous week workflows",
      "Course example workflows"
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "course-Week 14-financial_optimization_tracking",
    "course_version": "1.0",
    "last_updated": "2025-09-07T14:31:14.858281"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "financial-optimization-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "financial-optimization-trigger",
      "name": "Financial Optimization Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "financial-optimization-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "financial-type-condition",
              "leftValue": "={{ $json.financialType }}",
              "rightValue": "revenue",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "financial-type-router",
      "name": "Financial Type Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "financialOptimizationName",
              "value": "Revenue Optimization Strategy"
            },
            {
              "name": "financialOptimizationDescription",
              "value": "Optimize pricing strategies, billing processes, and revenue recognition"
            },
            {
              "name": "currentRevenueMetrics",
              "value": "Average deal size: $2,500, Pricing consistency: 70%, Price realization: 85%"
            },
            {
              "name": "revenueOptimizationGoals",
              "value": "Deal size: $3,500, Consistency: 95%, Realization: 95%"
            },
            {
              "name": "revenueOptimizationStrategies",
              "value": "Value-based pricing, Dynamic pricing, Tiered pricing, Pricing automation"
            },
            {
              "name": "expectedRevenueImprovements",
              "value": "40% deal size increase, 36% consistency improvement, 12% realization improvement"
            },
            {
              "name": "revenueImplementationTimeline",
              "value": "3 months"
            },
            {
              "name": "revenueSuccessMetrics",
              "value": "Deal size, Pricing consistency, Price realization, Revenue per customer"
            }
          ]
        },
        "options": {}
      },
      "id": "revenue-optimization-data",
      "name": "Revenue Optimization Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "financialOptimizationName",
              "value": "Cost Optimization Strategy"
            },
            {
              "name": "financialOptimizationDescription",
              "value": "Optimize operational costs, resource utilization, and efficiency"
            },
            {
              "name": "currentCostMetrics",
              "value": "Operational efficiency: 75%, Cost per transaction: $50, Resource utilization: 70%"
            },
            {
              "name": "costOptimizationGoals",
              "value": "Efficiency: 90%, Cost: $30, Utilization: 85%"
            },
            {
              "name": "costOptimizationStrategies",
              "value": "Process automation, Resource optimization, Waste reduction, Efficiency monitoring"
            },
            {
              "name": "expectedCostImprovements",
              "value": "20% efficiency improvement, 40% cost reduction, 21% utilization improvement"
            },
            {
              "name": "costImplementationTimeline",
              "value": "2 months"
            },
            {
              "name": "costSuccessMetrics",
              "value": "Operational efficiency, Cost per transaction, Resource utilization, Waste reduction"
            }
          ]
        },
        "options": {}
      },
      "id": "cost-optimization-data",
      "name": "Cost Optimization Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "financialOptimizationName",
              "value": "Cash Flow Optimization Strategy"
            },
            {
              "name": "financialOptimizationDescription",
              "value": "Optimize working capital, cash flow timing, and liquidity management"
            },
            {
              "name": "currentCashFlowMetrics",
              "value": "Cash conversion cycle: 45 days, Working capital ratio: 1.5, Visibility: Weekly"
            },
            {
              "name": "cashFlowOptimizationGoals",
              "value": "Cycle: 25 days, Ratio: 2.0, Visibility: Real-time"
            },
            {
              "name": "cashFlowOptimizationStrategies",
              "value": "Receivables management, Payables optimization, Inventory management, Cash monitoring"
            },
            {
              "name": "expectedCashFlowImprovements",
              "value": "44% cycle reduction, 33% ratio improvement, Real-time visibility"
            },
            {
              "name": "cashFlowImplementationTimeline",
              "value": "1 month"
            },
            {
              "name": "cashFlowSuccessMetrics",
              "value": "Cash conversion cycle, Working capital ratio, Cash flow visibility, Forecasting accuracy"
            }
          ]
        },
        "options": {}
      },
      "id": "cash-flow-optimization-data",
      "name": "Cash Flow Optimization Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        680,
        600
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "page",
        "title": "={{ $json.financialOptimizationName }} - Financial Plan",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Financial Type",
              "textValue": "={{ $json.financialType }}"
            },
            {
              "key": "Description",
              "textValue": "={{ $json.financialOptimizationDescription }}"
            },
            {
              "key": "Current Metrics",
              "textValue": "={{ $json.currentRevenueMetrics || $json.currentCostMetrics || $json.currentCashFlowMetrics }}"
            },
            {
              "key": "Optimization Goals",
              "textValue": "={{ $json.revenueOptimizationGoals || $json.costOptimizationGoals || $json.cashFlowOptimizationGoals }}"
            },
            {
              "key": "Strategies",
              "textValue": "={{ $json.revenueOptimizationStrategies || $json.costOptimizationStrategies || $json.cashFlowOptimizationStrategies }}"
            },
            {
              "key": "Expected Improvements",
              "textValue": "={{ $json.expectedRevenueImprovements || $json.expectedCostImprovements || $json.expectedCashFlowImprovements }}"
            },
            {
              "key": "Implementation Timeline",
              "textValue": "={{ $json.revenueImplementationTimeline || $json.costImplementationTimeline || $json.cashFlowImplementationTimeline }}"
            },
            {
              "key": "Success Metrics",
              "textValue": "={{ $json.revenueSuccessMetrics || $json.costSuccessMetrics || $json.cashFlowSuccessMetrics }}"
            },
            {
              "key": "Status",
              "textValue": "Planning"
            },
            {
              "key": "Created Date",
              "textValue": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-financial-plan",
      "name": "Notion Financial Plan",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "chatId": "={{ $json.financialSlackChannel }}",
        "text": "💰 New Financial Optimization Plan!\n\n**{{ $json.financialOptimizationName }}**\n\n{{ $json.financialOptimizationDescription }}\n\n**Current Metrics:**\n{{ $json.currentRevenueMetrics || $json.currentCostMetrics || $json.currentCashFlowMetrics }}\n\n**Optimization Goals:**\n{{ $json.revenueOptimizationGoals || $json.costOptimizationGoals || $json.cashFlowOptimizationGoals }}\n\n**Strategies:**\n{{ $json.revenueOptimizationStrategies || $json.costOptimizationStrategies || $json.cashFlowOptimizationStrategies }}\n\n**Expected Improvements:**\n{{ $json.expectedRevenueImprovements || $json.expectedCostImprovements || $json.expectedCashFlowImprovements }}\n\n**Timeline:** {{ $json.revenueImplementationTimeline || $json.costImplementationTimeline || $json.cashFlowImplementationTimeline }}\n\nReady to optimize! 🚀",
        "options": {}
      },
      "id": "slack-financial-plan",
      "name": "Slack Financial Plan",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "chatId": "={{ $json.financialTelegramChannel }}",
        "text": "💰 New Financial Optimization Plan!\n\n**{{ $json.financialOptimizationName }}**\n\n{{ $json.financialOptimizationDescription }}\n\n**Current Metrics:**\n{{ $json.currentRevenueMetrics || $json.currentCostMetrics || $json.currentCashFlowMetrics }}\n\n**Optimization Goals:**\n{{ $json.revenueOptimizationGoals || $json.costOptimizationGoals || $json.cashFlowOptimizationGoals }}\n\n**Strategies:**\n{{ $json.revenueOptimizationStrategies || $json.costOptimizationStrategies || $json.cashFlowOptimizationStrategies }}\n\n**Expected Improvements:**\n{{ $json.expectedRevenueImprovements || $json.expectedCostImprovements || $json.expectedCashFlowImprovements }}\n\n**Timeline:** {{ $json.revenueImplementationTimeline || $json.costImplementationTimeline || $json.cashFlowImplementationTimeline }}\n\nReady to optimize! 🚀",
        "options": {}
      },
      "id": "telegram-financial-plan",
      "name": "Telegram Financial Plan",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        600
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "page",
        "title": "Financial Performance Dashboard",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Revenue Growth",
              "textValue": "={{ $json.revenueGrowth }}"
            },
            {
              "key": "Cost Reduction",
              "textValue": "={{ $json.costReduction }}"
            },
            {
              "key": "Cash Flow Improvement",
              "textValue": "={{ $json.cashFlowImprovement }}"
            },
            {
              "key": "Profitability Increase",
              "textValue": "={{ $json.profitabilityIncrease }}"
            },
            {
              "key": "Last Updated",
              "textValue": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-financial-dashboard",
      "name": "Notion Financial Dashboard",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  message: 'Financial optimization plan processed successfully',\n  financialType: $json.financialType,\n  financialOptimizationName: $json.financialOptimizationName,\n  status: 'Documented and Notified',\n  timestamp: new Date().toISOString()\n}) }}",
        "options": {}
      },
      "id": "financial-optimization-response",
      "name": "Financial Optimization Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        400
      ]
    }
  ],
  "connections": {
    "Financial Optimization Trigger": {
      "main": [
        [
          {
            "node": "Financial Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Type Router": {
      "main": [
        [
          {
            "node": "Revenue Optimization Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cost Optimization Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cash Flow Optimization Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revenue Optimization Data": {
      "main": [
        [
          {
            "node": "Notion Financial Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cost Optimization Data": {
      "main": [
        [
          {
            "node": "Notion Financial Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cash Flow Optimization Data": {
      "main": [
        [
          {
            "node": "Notion Financial Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Financial Plan": {
      "main": [
        [
          {
            "node": "Slack Financial Plan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Financial Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Financial Plan": {
      "main": [
        [
          {
            "node": "Notion Financial Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Financial Plan": {
      "main": [
        [
          {
            "node": "Notion Financial Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Financial Dashboard": {
      "main": [
        [
          {
            "node": "Financial Optimization Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1",
  "id": "financial_optimization_tracking"
}