WEEK_08_AI_AGENTS/EXAMPLES/ai_workflow_orchestration_system.json
{
  "name": "AI Workflow Orchestration System",
  "description": "Automated workflow for AI Integration phase learning objectives with intelligent processing and error handling.",
  "tags": [
    "intelligence",
    "agents",
    "ai",
    "machine-learning",
    "automation",
    "artificial-intelligence"
  ],
  "version": "1.0.0",
  "author": "Automator Pro Course",
  "course_metadata": {
    "week": "Week 08",
    "phase": "AI Integration",
    "difficulty": "Intermediate",
    "learning_objectives": [
      "AI deployment",
      "AI maintenance",
      "AI scaling"
    ],
    "prerequisites": [
      "Workflow building skills",
      "AI/ML interest",
      "API knowledge"
    ],
    "estimated_setup_time": "20-30 minutes",
    "use_cases": [
      "Practice AI Integration concepts",
      "Build real-world automation skills",
      "Prepare for business applications",
      "Demonstrate course learning objectives"
    ],
    "examples": [
      "Use this workflow to practice AI Integration skills",
      "Customize for your specific learning needs",
      "Apply concepts to real business scenarios",
      "Build upon for advanced implementations"
    ],
    "next_steps": [
      "Complete Week 9 objectives",
      "Practice with additional examples",
      "Apply skills to real projects"
    ],
    "related_workflows": [
      "Week 9 workflows",
      "Previous week workflows",
      "Course example workflows"
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "course-Week 08-ai_workflow_orchestration_system",
    "course_version": "1.0",
    "last_updated": "2025-09-07T14:31:13.966776"
  },
  "nodes": [
    {
      "parameters": {
        "path": "ai-workflow-orchestration",
        "httpMethod": "POST"
      },
      "name": "AI Workflow Orchestration",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "orchestration_id",
              "value": "={{ $now.format('YYYYMMDDHHmmss') }}"
            },
            {
              "name": "orchestration_type",
              "value": "intelligent"
            },
            {
              "name": "start_time",
              "value": "={{ $now }}"
            },
            {
              "name": "orchestration_targets",
              "value": "={{ ['workflows', 'processes', 'tasks', 'resources'] }}"
            }
          ]
        }
      },
      "name": "Initialize Orchestration System",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.workflow-orchestrator.com/orchestrate",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"orchestration_id\": $json.orchestration_id, \"orchestration_type\": $json.orchestration_type, \"targets\": $json.orchestration_targets, \"timestamp\": $now } }}"
      },
      "name": "Orchestrate Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.process-orchestrator.com/coordinate",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"orchestration_id\": $json.orchestration_id, \"processes\": [\"data_processing\", \"ai_analysis\", \"decision_making\", \"output_generation\"], \"timestamp\": $now } }}"
      },
      "name": "Coordinate Processes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.task-orchestrator.com/schedule",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"orchestration_id\": $json.orchestration_id, \"tasks\": [\"priority_based\", \"dependency_based\", \"resource_based\", \"deadline_based\"], \"timestamp\": $now } }}"
      },
      "name": "Schedule Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resource-orchestrator.com/allocate",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"orchestration_id\": $json.orchestration_id, \"resources\": [\"cpu\", \"memory\", \"storage\", \"network\"], \"timestamp\": $now } }}"
      },
      "name": "Allocate Resources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.orchestration-monitor.com/status",
        "qs": {
          "orchestration_id": "={{ $json.orchestration_id }}",
          "timeframe": "5m"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Monitor Orchestration Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an AI workflow orchestration specialist that analyzes orchestration status and generates orchestration recommendations."
            },
            {
              "role": "user",
              "content": "={{ 'Orchestration Status:\\nWorkflows: ' + $json.workflows_status + '\\nProcesses: ' + $json.processes_status + '\\nTasks: ' + $json.tasks_status + '\\nResources: ' + $json.resources_status + '\\nOverall Status: ' + $json.overall_status + '\\n\\nGenerate orchestration recommendations and optimization strategies.' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 600
        }
      },
      "name": "AI Orchestration Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.orchestration-optimizer.com/optimize",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"orchestration_id\": $json.orchestration_id, \"optimization_type\": \"efficiency\", \"ai_recommendations\": $json.choices[0].message.content, \"timestamp\": $now } }}"
      },
      "name": "Optimize Orchestration",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "orchestration_report",
              "value": "={{ { \"orchestration_id\": $json.orchestration_id, \"orchestration_type\": $json.orchestration_type, \"start_time\": $json.start_time, \"orchestration_targets\": $json.orchestration_targets, \"orchestration_status\": { \"workflows_status\": $json.workflows_status, \"processes_status\": $json.processes_status, \"tasks_status\": $json.tasks_status, \"resources_status\": $json.resources_status, \"overall_status\": $json.overall_status }, \"ai_orchestration_analysis\": $json.choices[0].message.content, \"orchestration_results\": $json, \"optimization_status\": $('Optimize Orchestration').item.json.status, \"processing_time\": $now.diff($json.start_time, 'milliseconds'), \"completed_at\": $now } }}"
            },
            {
              "name": "success_message",
              "value": "✅ AI workflow orchestration completed successfully"
            }
          ]
        }
      },
      "name": "Generate Orchestration Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.orchestration-service.com/results",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"results\": $json.orchestration_report, \"timestamp\": $now } }}"
      },
      "name": "Send Orchestration Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.orchestration-log.com/log",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"type\": \"ai_workflow_orchestration\", \"data\": $json.orchestration_report, \"timestamp\": $now } }}"
      },
      "name": "Log Orchestration Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "orchestration_error",
              "value": "={{ { \"error_type\": \"orchestration_failed\", \"orchestration_id\": $json.orchestration_id, \"message\": \"AI workflow orchestration failed\", \"timestamp\": $now } }}"
            },
            {
              "name": "error_response",
              "value": "={{ { \"status\": \"error\", \"orchestration_id\": $json.orchestration_id, \"message\": \"AI workflow orchestration workflow error\" } }}"
            }
          ]
        }
      },
      "name": "Handle Orchestration Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        500
      ]
    }
  ],
  "connections": {
    "AI Workflow Orchestration": {
      "main": [
        [
          {
            "node": "Initialize Orchestration System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Orchestration System": {
      "main": [
        [
          {
            "node": "Orchestrate Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrate Workflows": {
      "main": [
        [
          {
            "node": "Coordinate Processes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coordinate Processes": {
      "main": [
        [
          {
            "node": "Schedule Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Tasks": {
      "main": [
        [
          {
            "node": "Allocate Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allocate Resources": {
      "main": [
        [
          {
            "node": "Monitor Orchestration Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitor Orchestration Status": {
      "main": [
        [
          {
            "node": "AI Orchestration Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Orchestration Analysis": {
      "main": [
        [
          {
            "node": "Optimize Orchestration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimize Orchestration": {
      "main": [
        [
          {
            "node": "Generate Orchestration Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Orchestration Report": {
      "main": [
        [
          {
            "node": "Send Orchestration Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Orchestration Results": {
      "main": [
        [
          {
            "node": "Log Orchestration Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1",
  "id": "ai_workflow_orchestration_system"
}