WEEK_08_AI_AGENTS/EXAMPLES/intelligent_automation_system.json
{
  "name": "Intelligent Automation System",
  "description": "Automated workflow for AI Integration phase learning objectives with intelligent processing and error handling.",
  "tags": [
    "ai",
    "machine-learning",
    "agents",
    "intelligence"
  ],
  "version": "1.0.0",
  "author": "Automator Pro Course",
  "course_metadata": {
    "week": "Week 08",
    "phase": "AI Integration",
    "difficulty": "Intermediate",
    "learning_objectives": [
      "AI deployment",
      "AI maintenance",
      "AI scaling"
    ],
    "prerequisites": [
      "Workflow building skills",
      "AI/ML interest",
      "API knowledge"
    ],
    "estimated_setup_time": "20-30 minutes",
    "use_cases": [
      "Practice AI Integration concepts",
      "Build real-world automation skills",
      "Prepare for business applications",
      "Demonstrate course learning objectives"
    ],
    "examples": [
      "Use this workflow to practice AI Integration skills",
      "Customize for your specific learning needs",
      "Apply concepts to real business scenarios",
      "Build upon for advanced implementations"
    ],
    "next_steps": [
      "Complete Week 9 objectives",
      "Practice with additional examples",
      "Apply skills to real projects"
    ],
    "related_workflows": [
      "Week 9 workflows",
      "Previous week workflows",
      "Course example workflows"
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "course-Week 08-intelligent_automation_system",
    "course_version": "1.0",
    "last_updated": "2025-09-07T14:31:13.976059"
  },
  "nodes": [
    {
      "parameters": {
        "path": "intelligent-automation",
        "httpMethod": "POST"
      },
      "name": "Intelligent Automation System",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "automation_id",
              "value": "={{ $now.format('YYYYMMDDHHmmss') }}"
            },
            {
              "name": "automation_type",
              "value": "intelligent"
            },
            {
              "name": "start_time",
              "value": "={{ $now }}"
            },
            {
              "name": "automation_targets",
              "value": "={{ ['decision_making', 'learning', 'adaptation', 'optimization'] }}"
            }
          ]
        }
      },
      "name": "Initialize Automation System",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.intelligent-automation.com/automate",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"automation_id\": $json.automation_id, \"automation_type\": $json.automation_type, \"targets\": $json.automation_targets, \"timestamp\": $now } }}"
      },
      "name": "Execute Intelligent Automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.decision-engine.com/make-decision",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"automation_id\": $json.automation_id, \"decision_type\": \"intelligent\", \"decision_criteria\": [\"data_analysis\", \"pattern_recognition\", \"risk_assessment\", \"optimization\"], \"timestamp\": $now } }}"
      },
      "name": "Make Intelligent Decisions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.learning-engine.com/learn",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"automation_id\": $json.automation_id, \"learning_type\": \"continuous\", \"learning_sources\": [\"feedback\", \"performance_data\", \"user_interactions\", \"system_metrics\"], \"timestamp\": $now } }}"
      },
      "name": "Learn from Experience",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.adaptation-engine.com/adapt",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"automation_id\": $json.automation_id, \"adaptation_type\": \"dynamic\", \"adaptation_triggers\": [\"performance_changes\", \"environment_changes\", \"user_preferences\", \"system_requirements\"], \"timestamp\": $now } }}"
      },
      "name": "Adapt to Changes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.automation-monitor.com/status",
        "qs": {
          "automation_id": "={{ $json.automation_id }}",
          "timeframe": "5m"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Monitor Automation Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an intelligent automation specialist that analyzes automation performance and generates improvement recommendations."
            },
            {
              "role": "user",
              "content": "={{ 'Automation Status:\\nDecision Making: ' + $json.decision_making_status + '\\nLearning: ' + $json.learning_status + '\\nAdaptation: ' + $json.adaptation_status + '\\nOptimization: ' + $json.optimization_status + '\\nOverall Performance: ' + $json.overall_performance + '\\n\\nGenerate automation improvement recommendations and optimization strategies.' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 600
        }
      },
      "name": "AI Automation Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.automation-optimizer.com/optimize",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"automation_id\": $json.automation_id, \"optimization_type\": \"intelligent\", \"ai_recommendations\": $json.choices[0].message.content, \"timestamp\": $now } }}"
      },
      "name": "Optimize Automation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "automation_report",
              "value": "={{ { \"automation_id\": $json.automation_id, \"automation_type\": $json.automation_type, \"start_time\": $json.start_time, \"automation_targets\": $json.automation_targets, \"automation_status\": { \"decision_making_status\": $json.decision_making_status, \"learning_status\": $json.learning_status, \"adaptation_status\": $json.adaptation_status, \"optimization_status\": $json.optimization_status, \"overall_performance\": $json.overall_performance }, \"ai_automation_analysis\": $json.choices[0].message.content, \"automation_results\": $json, \"optimization_status\": $('Optimize Automation').item.json.status, \"processing_time\": $now.diff($json.start_time, 'milliseconds'), \"completed_at\": $now } }}"
            },
            {
              "name": "success_message",
              "value": "✅ Intelligent automation completed successfully"
            }
          ]
        }
      },
      "name": "Generate Automation Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.automation-service.com/results",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"results\": $json.automation_report, \"timestamp\": $now } }}"
      },
      "name": "Send Automation Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.automation-log.com/log",
        "bodyContentType": "json",
        "jsonBody": "={{ { \"type\": \"intelligent_automation\", \"data\": $json.automation_report, \"timestamp\": $now } }}"
      },
      "name": "Log Automation Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "automation_error",
              "value": "={{ { \"error_type\": \"automation_failed\", \"automation_id\": $json.automation_id, \"message\": \"Intelligent automation failed\", \"timestamp\": $now } }}"
            },
            {
              "name": "error_response",
              "value": "={{ { \"status\": \"error\", \"automation_id\": $json.automation_id, \"message\": \"Intelligent automation workflow error\" } }}"
            }
          ]
        }
      },
      "name": "Handle Automation Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        500
      ]
    }
  ],
  "connections": {
    "Intelligent Automation System": {
      "main": [
        [
          {
            "node": "Initialize Automation System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Automation System": {
      "main": [
        [
          {
            "node": "Execute Intelligent Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Intelligent Automation": {
      "main": [
        [
          {
            "node": "Make Intelligent Decisions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Intelligent Decisions": {
      "main": [
        [
          {
            "node": "Learn from Experience",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Learn from Experience": {
      "main": [
        [
          {
            "node": "Adapt to Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adapt to Changes": {
      "main": [
        [
          {
            "node": "Monitor Automation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monitor Automation Status": {
      "main": [
        [
          {
            "node": "AI Automation Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Automation Analysis": {
      "main": [
        [
          {
            "node": "Optimize Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimize Automation": {
      "main": [
        [
          {
            "node": "Generate Automation Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Automation Report": {
      "main": [
        [
          {
            "node": "Send Automation Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Automation Results": {
      "main": [
        [
          {
            "node": "Log Automation Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1",
  "id": "intelligent_automation_system"
}